<li id="taskmemo-<%= taskmemo.id %>">
  <%= link_to gravatar_for(taskmemo.user, size: 50), taskmemo.user %>
  <span class="user"><%= link_to taskmemo.user.name, taskmemo.user %></span>
  <!-- <span class="product_name"><%= taskmemo.product_name %></span> -->
  <span class="remarks"><%= taskmemo.remarks %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(taskmemo.created_at) %> ago.
  </span>
</li>
